<a href="https://colab.research.google.com/github/adesinno/Academy2/blob/main/01Nov2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

Saving kaggle.json to kaggle.json

In [ ]:
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 26.2MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')
# Here I use the function read_csv from the pandas package and I assign it to a database named df.
# There is a lot of possible parameters in the read_csv function: Always check the documentation.
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [ ]:
# You can have a look on the first lines:
df.head() #You can specify a number in the parenthesis in order to see a specific number of lines
df.tail() # It shows the last lines

# List of useful functions to have general overview on the dataframe:
df.dtypes # To see the type of each feature
df.describe() # To have some descriptive statistics
df.info() # Same as dtypes + more information such as the number of non missing values
df.shape # In order to have the number of lines and columns of the dataframe
len(df) # In order to have the number of lines

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

1599

In [ ]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
### Now let's do some data manipulation
# Select a column:
df['fixed acidity'].head(2) # If you select 1 feature: dataframe['name_feature']
# Select multiple columns
df[['fixed acidity', 'volatile acidity']].head(2) 
# If you select 2 or more features: dataframe[['feature1', 'feature2']]

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88

In [ ]:
# Now, let's do some filters -> select lines from a condition
mask1 = df['fixed acidity'] >7 # As we saw in the Python basics part, df['fixed acidity'] >7
# refers to a question, does the value (here, each line) is >7 ; True or False

In [ ]:
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >7 that we can check with the .min() function.
mask1

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [ ]:
# If you want to select a part of the population between 2 values:
mask2 = df['fixed acidity'].between(7,8)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

#df[mask2].min()
#df[mask2]['fixed acidity'].min()
#df[mask2][['fixed acidity', 'density']].min()

In [ ]:
mask2

0        True
1        True
2        True
3       False
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [ ]:
# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the residual sugars <= 1.9 or >= 2.3 , and sulphates < 0.7301
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

       fixed acidity  volatile acidity  ...     alcohol     quality
count     893.000000        893.000000  ...  893.000000  893.000000
mean        8.166181          0.551013  ...   10.353210    5.530795
std         1.637488          0.176767  ...    1.024548    0.756440
min         4.700000          0.160000  ...    8.500000    3.000000
25%         7.100000          0.420000  ...    9.500000    5.000000
50%         7.800000          0.550000  ...   10.100000    5.000000
75%         9.000000          0.660000  ...   11.000000    6.000000
max        15.600000          1.330000  ...   13.600000    8.000000

[8 rows x 12 columns]

In [ ]:
df[mask3]

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1582            6.1             0.715         0.10  ...       0.50     11.9        5
1587            5.8             0.610         0.11  ...       0.66     10.9        6
1589            6.6             0.725         0.20  ...       0.54      9.2        5
1591            5.4             0.740         0.09  ...       0.56     11.6        6
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[893 rows x 12 columns]

In [ ]:
# Here I create a function having the name citric_acid_cat with the parameter x
# In the function, x will pass within a conditional statement. Given the value,
# it will return a letter (a category):
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

In [ ]:
# Now we want to create a new feature citric_cat, which transform the numerical value
# of citric acid to the category defined above for each line of the feature.
# We could create a for loop. However the apply lambda is more efficient from a computing point of view 
# The x refers to the x of the function which is df['citric acid']
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [ ]:
df['citric_cat']

0       A
1       A
2       A
3       C
4       A
       ..
1594    A
1595    A
1596    A
1597    A
1598    C
Name: citric_cat, Length: 1599, dtype: object

In [ ]:
# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'] == 'A'))
df[mask5]

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
4               7.4             0.700         0.00  ...      9.4        5           A
5               7.4             0.660         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1581            6.2             0.560         0.09  ...     11.3        5           A
1582            6.1             0.715         0.10  ...     11.9        5           A
1587            5.8             0.610         0.11  ...     10.9        6           A
1589            6.6             0.725         0.20  ...      9.2        5           A
1591            5.4             0.740         0.09  ...     11.6        6           A

[416 rows x 13 columns]

In [ ]:
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['A', 'C']
#mask6 = (((df ['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
df[mask6]

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
3              11.2             0.280         0.56  ...      9.8        6           C
4               7.4             0.700         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1582            6.1             0.715         0.10  ...     11.9        5           A
1587            5.8             0.610         0.11  ...     10.9        6           A
1589            6.6             0.725         0.20  ...      9.2        5           A
1591            5.4             0.740         0.09  ...     11.6        6           A
1598            6.0             0.310         0.47  ...     11.0        6           C

[750 rows x 13 columns]

In [ ]:
# To finish, you could want all the element of a feature execpt those that you specify in a list.
# Let's say, you want to analyse all the citri_cat that are not in the list (here the cat=B)
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

      fixed acidity  volatile acidity  ...  quality  citric_cat
26              7.6              0.41  ...        5           B
34              5.2              0.32  ...        5           B
48              6.4              0.40  ...        5           B
72              7.7              0.69  ...        5           B
87              7.7              0.49  ...        5           B
...             ...               ...  ...      ...         ...
1493            7.7              0.54  ...        5           B
1496            7.7              0.54  ...        5           B
1501            7.8              0.82  ...        5           B
1514            6.9              0.84  ...        6           B
1515            6.9              0.84  ...        6           B

[143 rows x 13 columns]

In [30]:
# Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')
# Here I use the function read_csv from the pandas package and I assign it to a database named df.
# There is a lot of possible parameters in the read_csv function: Always check the documentation.
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [31]:
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

# Now we want to create a new feature citric_cat, which transform the numerical value
# of citric acid to the category defined above for each line of the feature.
# We could create a for loop. However the apply lambda is more efficient from a computing point of view 
# The x refers to the x of the function which is df['citric acid']
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [32]:
df

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
3              11.2             0.280         0.56  ...      9.8        6           C
4               7.4             0.700         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1594            6.2             0.600         0.08  ...     10.5        5           A
1595            5.9             0.550         0.10  ...     11.2        6           A
1596            6.3             0.510         0.13  ...     11.0        6           A
1597            5.9             0.645         0.12  ...     10.2        5           A
1598            6.0             0.310         0.47  ...     11.0        6           C

[1599 rows x 13 columns]

In [33]:
# Here I create a binary feature who will be used as target
# We use the numpy.where function which is equivalent to a if-then-else statement
# If df['quality'] >= 7 then df['Y']=1, else df['Y']=0
df['Y'] = np.where(df['quality']>= 7, 1, 0)

In [34]:
df

      fixed acidity  volatile acidity  citric acid  ...  quality  citric_cat  Y
0               7.4             0.700         0.00  ...        5           A  0
1               7.8             0.880         0.00  ...        5           A  0
2               7.8             0.760         0.04  ...        5           A  0
3              11.2             0.280         0.56  ...        6           C  0
4               7.4             0.700         0.00  ...        5           A  0
...             ...               ...          ...  ...      ...         ... ..
1594            6.2             0.600         0.08  ...        5           A  0
1595            5.9             0.550         0.10  ...        6           A  0
1596            6.3             0.510         0.13  ...        6           A  0
1597            5.9             0.645         0.12  ...        5           A  0
1598            6.0             0.310         0.47  ...        6           C  0

[1599 rows x 14 columns]

In [35]:
# We create as well some binary features of 'fixed acidity' & 'volatile acidity'
df['fixed_acidity_cat'] = np.where(df['fixed acidity']<= 8, 0, 1)
df['volatile_acidity_cat'] = np.where(df['volatile acidity']>= 0.4, 0, 1)

In [36]:
df

      fixed acidity  volatile acidity  ...  fixed_acidity_cat  volatile_acidity_cat
0               7.4             0.700  ...                  0                     0
1               7.8             0.880  ...                  0                     0
2               7.8             0.760  ...                  0                     0
3              11.2             0.280  ...                  1                     1
4               7.4             0.700  ...                  0                     0
...             ...               ...  ...                ...                   ...
1594            6.2             0.600  ...                  0                     0
1595            5.9             0.550  ...                  0                     0
1596            6.3             0.510  ...                  0                     0
1597            5.9             0.645  ...                  0                     0
1598            6.0             0.310  ...                  0                     1

[1599 rows x 16 columns]