<a href="https://colab.research.google.com/github/adesinno/Academy2/blob/main/23_Oct_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle

In [3]:
from google.colab import files 
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"andreades","key":"926775e9fbe97263eeda123554d44894"}'}

In [4]:
!mkdir ~/.kaggle

In [5]:
!cp kaggle.json ~/.kaggle

In [7]:
!chmod 600 ~/.kaggle/kaggle.json

In [8]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              235KB  2021-10-21 20:52:33          14203
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           8530
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           3813
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3207
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1652
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2288
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1381
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1121
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1006
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            404
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            406
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            955
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            180
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            139
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            159
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            220
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         155028
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          28610
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         146362
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          23535

In [10]:
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction

Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 10.1MB/s]
100% 11.6M/11.6M [00:00<00:00, 19.8MB/s]

In [11]:
!unzip /content/vehicle-loan-default-prediction.zip

Archive:  /content/vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/test.csv')

In [14]:
df.head()

   UNIQUEID  DISBURSED_AMOUNT  ...  CREDIT_HISTORY_LENGTH  NO_OF_INQUIRIES
0    655269             53478  ...              0yrs 0mon                0
1    723482             55513  ...              1yrs 0mon                1
2    758529             65282  ...              0yrs 0mon                0
3    763449             46905  ...              2yrs 5mon                0
4    708663             51428  ...              0yrs 0mon                0

[5 rows x 40 columns]

In [15]:
df.tail()

        UNIQUEID  DISBURSED_AMOUNT  ...  CREDIT_HISTORY_LENGTH  NO_OF_INQUIRIES
112387    755547             44875  ...              0yrs 0mon                0
112388    716994             53549  ...              0yrs 0mon                0
112389    709352             55243  ...              9yrs 5mon                0
112390    699795             55243  ...              0yrs 3mon                0
112391    755244             40274  ...              0yrs 0mon                0

[5 rows x 40 columns]

In [16]:
df.dtypes

UNIQUEID                                 int64
DISBURSED_AMOUNT                         int64
ASSET_COST                               int64
LTV                                    float64
BRANCH_ID                                int64
SUPPLIER_ID                              int64
MANUFACTURER_ID                          int64
CURRENT_PINCODE_ID                       int64
DATE_OF_BIRTH                           object
EMPLOYMENT_TYPE                         object
DISBURSAL_DATE                          object
STATE_ID                                 int64
EMPLOYEE_CODE_ID                         int64
MOBILENO_AVL_FLAG                        int64
AADHAR_FLAG                              int64
PAN_FLAG                                 int64
VOTERID_FLAG                             int64
DRIVING_FLAG                             int64
PASSPORT_FLAG                            int64
PERFORM_CNS_SCORE                        int64
PERFORM_CNS_SCORE_DESCRIPTION           object
PRI_NO_OF_ACCTS                          int64
PRI_ACTIVE_ACCTS                         int64
PRI_OVERDUE_ACCTS                        int64
PRI_CURRENT_BALANCE                      int64
PRI_SANCTIONED_AMOUNT                    int64
PRI_DISBURSED_AMOUNT                     int64
SEC_NO_OF_ACCTS                          int64
SEC_ACTIVE_ACCTS                         int64
SEC_OVERDUE_ACCTS                        int64
SEC_CURRENT_BALANCE                      int64
SEC_SANCTIONED_AMOUNT                    int64
SEC_DISBURSED_AMOUNT                     int64
PRIMARY_INSTAL_AMT                       int64
SEC_INSTAL_AMT                           int64
NEW_ACCTS_IN_LAST_SIX_MONTHS             int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS      int64
AVERAGE_ACCT_AGE                        object
CREDIT_HISTORY_LENGTH                   object
NO_OF_INQUIRIES                          int64
dtype: object

In [17]:
df.describe()

            UNIQUEID  ...  NO_OF_INQUIRIES
count  112392.000000  ...    112392.000000
mean   711741.891861  ...         0.226119
std     33492.215991  ...         0.739231
min    654115.000000  ...         0.000000
25%    682658.750000  ...         0.000000
50%    711522.500000  ...         0.000000
75%    740851.250000  ...         0.000000
max    769909.000000  ...        23.000000

[8 rows x 34 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UNIQUEID                             112392 non-null  int64
 1   DISBURSED_AMOUNT                     112392 non-null  int64
 2   ASSET_COST                           112392 non-null  int64
 3   LTV                                  112392 non-null  float64
 4   BRANCH_ID                            112392 non-null  int64
 5   SUPPLIER_ID                          112392 non-null  int64
 6   MANUFACTURER_ID                      112392 non-null  int64
 7   CURRENT_PINCODE_ID                   112392 non-null  int64
 8   DATE_OF_BIRTH                        112392 non-null  object
 9   EMPLOYMENT_TYPE                      108949 non-null  object
 10  DISBURSAL_DATE                       112392 non-null  object
 11  STATE_ID                             112392 non-null  int64
 12  EMPLOYEE_CODE_ID                     112392 non-null  int64
 13  MOBILENO_AVL_FLAG                    112392 non-null  int64
 14  AADHAR_FLAG                          112392 non-null  int64
 15  PAN_FLAG                             112392 non-null  int64
 16  VOTERID_FLAG                         112392 non-null  int64
 17  DRIVING_FLAG                         112392 non-null  int64
 18  PASSPORT_FLAG                        112392 non-null  int64
 19  PERFORM_CNS_SCORE                    112392 non-null  int64
 20  PERFORM_CNS_SCORE_DESCRIPTION        112392 non-null  object
 21  PRI_NO_OF_ACCTS                      112392 non-null  int64
 22  PRI_ACTIVE_ACCTS                     112392 non-null  int64
 23  PRI_OVERDUE_ACCTS                    112392 non-null  int64
 24  PRI_CURRENT_BALANCE                  112392 non-null  int64
 25  PRI_SANCTIONED_AMOUNT                112392 non-null  int64
 26  PRI_DISBURSED_AMOUNT                 112392 non-null  int64
 27  SEC_NO_OF_ACCTS                      112392 non-null  int64
 28  SEC_ACTIVE_ACCTS                     112392 non-null  int64
 29  SEC_OVERDUE_ACCTS                    112392 non-null  int64
 30  SEC_CURRENT_BALANCE                  112392 non-null  int64
 31  SEC_SANCTIONED_AMOUNT                112392 non-null  int64
 32  SEC_DISBURSED_AMOUNT                 112392 non-null  int64
 33  PRIMARY_INSTAL_AMT                   112392 non-null  int64
 34  SEC_INSTAL_AMT                       112392 non-null  int64
 35  NEW_ACCTS_IN_LAST_SIX_MONTHS         112392 non-null  int64
 36  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS  112392 non-null  int64
 37  AVERAGE_ACCT_AGE                     112392 non-null  object
 38  CREDIT_HISTORY_LENGTH                112392 non-null  object
 39  NO_OF_INQUIRIES                      112392 non-null  int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

In [19]:
df.shape

(112392, 40)

In [20]:
df.groupby(['BRANCH_ID']).SUM()

AttributeError: ignored